

.card {
  /* background: linear-gradient(145deg, #e3f2fd, #bbdefb); */
  background: #E7EEFD;
  border-radius: 12px;
  padding: 20px;
  padding-inline:22px;
  margin: 15px;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  color: black;
  /* font-family: "Poppins", sans-serif; */
  width: 250px;
}
p{
  line-height: 23px;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card-title {
  margin-bottom: 10px;
  color: #0d47a1;
  font-size: 1.5rem;
  border-bottom: 2px solid #90caf9;
  padding-bottom: 5px;
  padding-top:0px;
  margin-top: 0px;

}

.card-details p {
  margin: 8px 0;
  color: black;
  font-size: 1.06rem;
  text-align: justify;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn i {
  font-size: 14px;
}

.btn-edit {
  background-color: #5379F6;
  color: white;
}

.btn-edit:hover {
  background-color: #1976d2;
}

.btn-delete {
  background-color: #e3f2fd;
  color: #0d47a1;
  border: 1px solid #90caf9;
}

.btn-delete:hover {
  background-color: rgb(218, 96, 96);
  color: white;
  border-color: #42a5f5;
}
